<h1><%= @portfolio_item.title %></h1>

<em><%= @portfolio_item.subtitle %></em><br>

<%= image_tag @portfolio_item.main_img %>

<p><%= @portfolio_item.body %></p>

<% @portfolio_item.technologies.each do |t| %>
	<p><%= t.name %></p>
<% end %>

<p><%= link_to "Edit", edit_work_path(@portfolio_item.id) if logged_in?(:site_admin) %></p>
<p><%= link_to 'Delete Item', @portfolio_item, method: :delete, data: { confirm: 'Are you sure?' } if logged_in?(:site_admin) %></p>

<hr>