<!DOCTYPE html>
<html>
    <head>
      <title><%= @page_title %></title>
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>

      <meta name="keywords" content="<%=@seo_keywords%>" />

    
      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>

        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

              <%= video_tag(
                'bg-video-compressed.mp4',
                id: 'image-background',
                autoplay: true,
                muted: true,
                loop: true,
                poster: 'video_screenshot.jpg'
              ) %>

              <%= render "shared/application_nav" %>

              <%= yield %>

              <%= session_tracker_helper %>

              <%= render "shared/application_footer" %>

        </div>

    </body>
</html>

