<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="keywords" content="<%=@seo_keywords%>" />

    <%= stylesheet_link_tag    'blogs', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <!-- start of blog header -->
    <div class="text-center">
      <h2 class="blog-header-logo text-dark" href="#">James Hubert Blog</h2>
      <%= login_helper('p-2 blog-login-helper') %>
    </div>
    <!-- end of blog header -->

    <%= render 'shared/blog_nav' %><br>

    <main role="main" class="container">

      <div class="row">

        <%= yield %>

        <%= render 'shared/blog_sidebar' %>

      </div>

    </main>


    <!-- start of footer -->
    <footer class="blog-footer">
      <p>Blog template built for <a href="https://getbootstrap.com/">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
      <p>
        <a href="#">Back to top</a>
      </p>
    </footer>
    <!-- end of footer -->

    <%= session_tracker_helper %>

  </body>
</html>